<!-- FOOTER -->
<section class="footer bg-img" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-10 col-xs-9">
                <a href="https://sl-servicosweb.com" target="_blank"><img src="../assets/Logo 2.png" alt="" width="80px"></a>
            </div>
        </div>
    </div>
</section>
<!-- FIM DO FOOTER -->
